<!DOCTYPE html>
<html>
  <head>
    <title>Zadanie</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1><%= yield :title %></h1>
    </header>
    <div id="body">
      <aside id="left_panel">
        <%= yield :left_panel %>
      </aside>
      <section id="content">
        <%= yield %>
      </section>
    </div>
  </body>
</html>
